@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CustomFont';
  src: url('https://c-p.rmcdn.net/custom-fonts/font-a21ae080-3669-4b01-adb4-9246c9f03441.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.custom-font {
  font-family: 'CustomFont', sans-serif;
}

